<ion-header no-border>
  <ion-toolbar color="primary" >

    <ion-buttons slot="start">
        <ion-button (click)="toogleMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-title class="centrado">GMM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button size="medium" routerLink="/crud-articulos" expand = "full">Mantenimiento de Articulos</ion-button>
  <ion-button size="medium" routerLink="/admin" expand = "full">Administrador</ion-button>
  <ion-button size="medium" (click)="onLogout()" expand = "full">Logout</ion-button> -->

    <ion-card mode="ios" color="primary">

        <ion-card-header>
          <ion-card-title>Our group of companies</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          We manage three different business units but complementary: Mobility, Logistics and Storage. With offices in Costa Rica and Nicaragua and presence in all the customs of the country, we are your connection with the rest of the world.
          We are certified in ISO 9001: 2015, FAIM PLUS and BASC. We are members of the most
          important alliances of movers around the world FIDI, IAM, OMNI and LACMA among others, reinforcing our commitment to the highest service and quality standards.
        </ion-card-content>

    </ion-card>

    <ion-img src="/assets/2.png"></ion-img>

    <ion-card mode="ios">

      <ion-card-header>
        <ion-card-title>Grupo Mundanzas Mundiales</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        We are a company with membership in the most important moving and logistic associations in the world, FIDI, IAM, OMNI, LACMA, among others.
      </ion-card-content>

    </ion-card>

    <ion-img src="/assets/3.png"></ion-img>

</ion-content>
